<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">           
          <small class="text-muted">© 2066 Global Solutions, Inc.</small>
          <br />
          <small class="text-muted">"We Own the Future"</small>
        </div>
      </div>
    </div>
  </div>
</div>