<nav id="navbar" class="navbar gradient" role="navigation">

  <div class="container">

    <a class="navbar-brand" href="/">Brand Logo</a>

    <div class="nav pull-right">

      <ul class="nav navbar-nav">
        <%= render 'shared/session_control' %>
      </ul>
    </div>

  </div>
</nav>